﻿@model IEnumerable<Voyageur.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="table">
        <tr>
            <th>
                UserName
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Rol ata", "RolAta", new { id = item.Id })
                </td>
            </tr>
        }

    </table>


