﻿@model Voyageur.Models.RegisterViewModel

@{
    ViewBag.Title = "RolAta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RolAta</h2>

<div class="form-horizontal">
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Value = "~/images/" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
           @Html.ActionLink("Rol Ata", "RolAta", "AdminHome", new { id = Model.Email }, null)
        </div>
    </div>
</div>
