﻿



@font-face 
{
    
font-family: 'octin';
    
src: url('octin_stencil_rg-webfont.eot');
    
src: url('octin_stencil_rg-webfont.eot?#iefix') format('embedded-opentype'),
url('octin_stencil_rg-webfont.woff2') format('woff2'),
     
url('octin_stencil_rg-webfont.woff') format('woff'),
      
url('octin_stencil_rg-webfont.ttf') format('truetype'),
        
url('octin_stencil_rg-webfont.svg#octin_stencilregular') format('svg');
    
font-weight: normal;
    
font-style: normal;


}

.octinbaslik{
font-family: 'octin';
font-size: 30px;
color:white;

}

#footercizgi{
border-top:solid #000000;
}
.center{
    margin-top:130%;
   justify-content:flex-start;
   width:100%;
   height:10%;
   font-size:30px;
}
.aralik li{
padding: 5px;
}
.footer{
	background-color: #dcdcdc;
	width: 100%;
    margin-bottom:-3%;
}
/*gri ile uyumlu renk #e84c3d*/
.navs{
	background-color: #bcd2ee;
    
}
.navbar-inverse .navbar-brand{
    color:#1b8bb4;
}
.navbar-inverse .navbar-nav > li > a{
 color:#1b8bb4;   
}
.affix {
     top: 0;
     width: 100%;
 }
 .affix + .container-fluid {
     padding-top: 70px;
 }
.verticalLine {
    border-right: solid #000;

}
ul li{
	list-style-type: none;
}
.floatright{
    float: right;
    
}
#logo{
    margin-top:-4%;
}
.navbar-inverse {
    border-color:#bcd2ee;
}

.navbar {
    border-radius: 0px; 
}
.bgimage{
    background-image:url(../images/resim1.jpg);
    width:100%;
   height:595px;
}
.lineright{
    border-right:10px solid white;
    height:595px;

}
.imageup{
   margin-bottom:-150%;
}
